@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    background-color: #474973;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: 1.1em;
    font-weight: 300;
}

p {
    font-weight: 300;
}

#heading {
    text-align: center;
    font-weight: 300;
    font-size: 3em;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#grid {
    background-color: white !important;
    width: 500px;
    height: 500px;
    flex: 0 0 auto;
    border: 5px solid #9A9CC1;
}

#grid div {
    border: 1px solid rgb(226, 226, 226);
}

#functionality {
    width: 450px;
    height: 350px;
    padding: 20px 0px 30px 30px;
    background-color: #676AA2;
    border-radius: 20px;
    flex: 0 1 auto;
    box-shadow: 5px 5px #9A9CC1;
}

.function-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#range {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#range p {
    width: 70px;
}

#color {
    display: flex;
    align-items: center;
    gap: 10px;
}

#color-picker {
    width: 28px;
    height: 30px;
    border: 0px;
    background-color: transparent;
}

#clear {
    outline: none;
    cursor: pointer;
    font-weight: 300;
    border-radius: 3px;
    border: 0;
    color: #fff;
    background: #696;
    font-size: 0.7em;
    width: 80px;
    height: 30px;
    margin-top: 50px;
}

#clear:hover {
    transition: all .2s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgb(118, 153, 118);
}

#eraser {
    position: relative;
}

.toggle,
.custom {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    margin: calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff no-repeat center center;
    margin-top: 2px;
}

.custom {
    border-radius: 50%;
}

.toggle:where(:active:not(:disabled), :focus),
.custom:where(:active:not(:disabled), :focus) {
    border: 3px solid #696;
    outline: none;
}

.toggle:checked,
.custom:checked {
    background-color: #696;
    border: 3px solid rgb(118, 153, 118);
    transition: all .2s;
}

a {
    text-decoration: none;
    color: white;
}

#footer {
    font-size: 0.7em;
    position: fixed;
    bottom: 5px;
}

@media (max-width: 910px) {
    #container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #functionality {
        width: 470px;
        margin: 30px;
    }
}